spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/weddingyou?serverTimezone=Asia/Seoul&autoReconnect=true
    username: root
    password: 123456
    
  jpa:
    # true : 트랜잭션이 완료되도 영속성 컨텍스트는 유지된다.
    # false : 트랜잭션을 종료할 때 영속성 컨텍스트는 종료된다. 
    open-in-view: true # true:기본값
    hibernate:
      # create : 기존의 테이블을 drop하고 다시 생성하는 것.애플리케이션이 실행되는 시점에 drop과 create가 일어난다.
      # update : 기존에 테이블이 없을때는 새로 생성하지만 있으면 그대로 유지. 테이블에 추가되는 컬럼이 존재하면 해당 테이블을 업데이트 한다.
      ddl-auto: update
      naming:
        # 엔티티(테이블)를 만들때 변수명 그대로 테이블 필드(컬럼)를 만든다
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true # 콘솔창에 sql 명령문을 출력
    properties:
      hibernate.format_sql: true # sql명령문을 보기 좋게 보여준다.

  mail:
    host: smtp.naver.com
    port: 465
    username: weddingyou502@naver.com
    password: weddingyou502!
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
  servlet:
    multipart:
      max-file-size: 1000MB
      max-request-size: 1000MB 
      location: c:\\Project\\upload   